<script setup lang="ts">
import { provide, ref } from 'vue'
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'

const memberStore = useMemberStore()
const receiptStore = useReceiptStore()

function onClick() {
  memberStore.searchMember(memberStore.tel)
  receiptStore.calReceipt()
}
</script>
<template>
  <v-container>
    <v-row no-gutters>
      <v-col cola="6">
        <v-text-field
          v-model="memberStore.tel"
          density="compact"
          variant="solo"
          label="Search templates"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          @click:append-inner="onClick"
          @keyup.enter="onClick"
        ></v-text-field>
      </v-col>
      <v-col cols="6" class="pl-6 text-center">{{
        memberStore.currentMember ? memberStore.currentMember?.name : 'ไม่พบสมาชิก'
      }}</v-col>
    </v-row>
  </v-container>
</template>
