<script setup lang="ts">
import { nextTick, provide, ref } from 'vue'

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialog from './ReceiptDialog.vue'

import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()

const products1: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 2,
    name: 'โอวัลติน ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 3,
    name: 'โกโก้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 4,
    name: 'มอคค่า ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 5,
    name: 'นม ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 6,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 7,
    name: 'ไมโล ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 8,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 9,
    name: 'ชานม ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 7,
    name: 'ไมโล ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 8,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 1
  },
  {
    id: 9,
    name: 'ชานม ร้อน',
    price: 35.0,
    type: 1
  }
]
const products2: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 2
  },
  {
    id: 2,
    name: 'โอวัลติน ร้อน',
    price: 35.0,
    type: 2
  }
]
const products3: Product[] = [
  {
    id: 1,
    name: 'ลาเต้ ร้อน',
    price: 35.0,
    type: 3
  },
  {
    id: 2,
    name: 'โอวัลติน ร้อน',
    price: 35.0,
    type: 3
  },
  {
    id: 3,
    name: 'นม ร้อน',
    price: 35.0,
    type: 3
  }
]

const tab = ref(1)

const selected = (p: Product) => {
  console.log('ProductView: ' + p)
  receiptStore.addReceiptItem(p)

  nextTick(() => {
    //Scroll to bottom of div
    divReceiptItems.value?.scrollTo({
      top: divReceiptItems.value.scrollHeight,
      behavior: 'smooth'
    })

    //Scroll to bottom of div
    // if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}

const showReceipt = () => {
  receiptStore.showReceiptDialog()
}

const divReceiptItems = ref<HTMLElement | null>(null)
</script>
<template>
  <v-container class="pa-0">
    <v-row>
      <v-col cols="12" md="6">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="260" elevation="6">
                <div ref="divReceiptItems" style="height: 260px; overflow-y: auto">
                  <receipt-detail-table></receipt-detail-table>
                </div>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="auto" elevation="6">
                <member-card></member-card>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="auto" elevation="6">
                <receipt-card></receipt-card>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="auto" elevation="6">
                <v-container class="pa-3">
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" size="large">ยกเลิก</v-btn>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" size="large" color="primary" @click="showReceipt()"
                        >ชำระเงิน</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6">
        <v-sheet min-width="300" max-width="600" height="auto" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">เครื่องดื่ม</v-tab>
            <v-tab :value="2">ขนม</v-tab>
            <v-tab :value="3">น้ำ</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <product-list :products="products1" @selectedProduct="selected"></product-list>
            </v-window-item>

            <v-window-item :value="2">
              <product-list :products="products2" @selectedProduct="selected"></product-list>
            </v-window-item>

            <v-window-item :value="3">
              <product-list :products="products3" @selectedProduct="selected"></product-list>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
  <receipt-dialog></receipt-dialog>
</template>
